* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: antiquewhite;
}

#header {
    background-color: aliceblue;
    text-align: center;
}

.input{
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    margin: 20px;
}

#start-date, #end-date{
    border: black solid 5px;
    line-height: 50px;
    margin-right: 100px;
    margin-left: 5px;
}

.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 300px;
  margin-top: 20px;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

#value{
    margin-left: 30px;
    margin-top: 20px;
    font-weight: 900;
    font-size: 30px;
}